{% extends 'warehouse/base.html' %}
{% load custom_filters %} <!-- Подключаем фильтры -->

{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Регистрация</h2>
    <div class="card shadow mx-auto" style="max-width: 400px;"> <!-- Ограничиваем ширину карточки -->

        <div class="card-body">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label for="username" class="form-label">Логин</label>
                    {{ form.username|add_class:"form-control" }} <!-- Применяем класс формы -->
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email</label>
                    {{ form.email|add_class:"form-control" }} <!-- Применяем класс формы -->
                    {% if form.email.errors %}
                        <div class="text-danger">
                            {% for error in form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group mb-3">
                    <label for="password1" class="form-label">Пароль</label>
                    {{ form.password1|add_class:"form-control" }} <!-- Применяем класс формы -->
                </div>

                <div class="form-group mb-4">
                    <label for="password2" class="form-label">Подтвердите пароль</label>
                    {{ form.password2|add_class:"form-control" }} <!-- Применяем класс формы -->
                </div>

                <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
