.card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
}

.btn {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-light div {
    color: #888;
    font-weight: 600;
}

/* Стили для таблиц */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white; /* Непрозрачный фон */
    opacity: 1; /* Убираем прозрачность */
    border: 1px solid #ddd; /* Граница таблицы */
    border-radius: 8px; /* Закругленные углы */
    overflow: hidden; /* Обрезка содержимого за границами */
    margin-bottom: 20px; /* Отступ снизу */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для таблицы */
}
