/* Кастомный класс для активной зеленой кнопки */
.btn-active {
    background-color: #28a745; /* Ярко-зеленый цвет */
    border-color: #28a745;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.btn-active:hover {
    background-color: #218838; /* Немного темнее при наведении */
}

/* Стили для компактных кнопок */
.btn-compact {
    padding: 5px 10px; /* Уменьшаем внутренние отступы */
    font-size: 12px;   /* Уменьшаем размер шрифта */
    margin-right: 5px; /* Уменьшаем отступы между кнопками */
    margin-bottom: 5px; /* Уменьшаем отступ снизу */
}

/* Стили для уменьшенного заголовка */
.small-header {
    font-size: 16px; /* Уменьшенный размер заголовка */
    margin-bottom: 10px; /* Небольшой отступ снизу */
}
