.table-primary {
    background-color: #cce5ff;
}

.table-secondary {
    background-color: #e2e3e5;
}

.table-light {
    background-color: #f8f9fa;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.img-thumbnail {
    border-radius: 5px;
    margin-right: 5px;
}
