<form action="https://securesandbox.webpay.by/" method="post" id="payment-form">
  <!-- Обязательное поле *scart -->
  <input type="hidden" name="*scart">

  <!-- Основные поля -->
  <input type="hidden" name="wsb_storeid" value="{{ wsb_storeid }}">
  <input type="hidden" name="wsb_store" value="{{ wsb_store }}">
  <input type="hidden" name="wsb_order_num" value="{{ wsb_order_num }}">
  <input type="hidden" name="wsb_currency_id" value="{{ wsb_currency_id }}">
  <input type="hidden" name="wsb_version" value="{{ wsb_version }}">
  <input type="hidden" name="wsb_language_id" value="{{ wsb_language_id }}">
  <input type="hidden" name="wsb_seed" value="{{ wsb_seed }}">
  <input type="hidden" name="wsb_signature" value="{{ wsb_signature }}">
  <input type="hidden" name="wsb_test" value="{{ wsb_test }}">

  <!-- Дополнительные необязательные поля -->
  <input type="hidden" name="wsb_customer_name" value="{{ wsb_customer_name }}">
  <input type="hidden" name="wsb_customer_address" value="{{ wsb_customer_address }}">
  <input type="hidden" name="wsb_return_url" value="{{ wsb_return_url }}">
  <input type="hidden" name="wsb_cancel_return_url" value="{{ wsb_cancel_return_url }}">
  <input type="hidden" name="wsb_notify_url" value="{{ wsb_notify_url }}">
  <input type="hidden" name="wsb_email" value="{{ wsb_email }}">
  <input type="hidden" name="wsb_phone" value="{{ wsb_phone }}">

  <!-- Корзина (одна позиция) -->
  <input type="hidden" name="wsb_invoice_item_name[0]" value="{{ wsb_invoice_item_name }}">
  <input type="hidden" name="wsb_invoice_item_quantity[0]" value="1">
  <input type="hidden" name="wsb_invoice_item_price[0]" value="{{ wsb_total }}">

  <!-- Общая сумма -->
  <input type="hidden" name="wsb_total" value="{{ wsb_total }}">
</form>

<script>
  document.getElementById("payment-form").submit();
</script>