/* Основной стиль для страницы */
body {
    padding-top: 56px; /* Высота navbar для предотвращения перекрытия контента */
}

/* Стили для таблиц */
table {
    margin-top: 20px;
}

/* Стиль для изображений в таблицах */
img.img-thumbnail {
    border: 1px solid #ddd;
    border-radius: .25rem;
}

/* Добавление отступов для форм */
form {
    margin-top: 20px;
}
