{% extends 'warehouse/base.html' %}
{% block title %}Поиск{% endblock %}
{% block content %}
    <h2>Поиск по складам</h2>
    <form method="GET" action="{% url 'search' %}">
        <input type="text" name="q" placeholder="Поиск по устройству">
        <input type="text" name="brand" placeholder="Марка">
        <input type="text" name="model" placeholder="Модель">
        <input type="text" name="part_type" placeholder="Тип запчасти">
        <input type="text" name="city" placeholder="Город">
        <button type="submit">Искать</button>
    </form>

    <hr>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: center;  /* Выровнять текст и изображения по центру */
            border: 1px solid #ddd;  /* Добавить границы ячеек */
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        img {
            max-width: 100px;  /* Ограничить максимальную ширину изображения */
            height: auto;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;  /* Добавить чередующиеся цвета строк для лучшей читаемости */
        }

        tr:hover {
            background-color: #f1f1f1;  /* Добавить эффект при наведении на строку */
        }
    </style>

    <table>
        <tr>
            <th>Город</th>
            <th>Номер телефона</th>
            <th>Устройство</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Тип запчасти</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Изображение</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.user.profile.city }}</td>
            <td>{{ result.user.profile.phone }}</td>
            <td>{{ result.device }}</td>
            <td>{{ result.brand }}</td>
            <td>{{ result.model }}</td>
            <td>{{ result.part_type }}</td>
            <td>{{ result.quantity }}</td>
            <td>{{ result.price }}</td>
            <td>
                {% if result.image %}
                    <img src="{{ result.image.url }}" alt="Изображение запчасти">
                {% else %}
                    Нет изображения
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
