

{% extends 'warehouse/base.html' %}
{% block title %}Поиск{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="my-4 text-center text-dark">Поиск по складам</h2>
        <form method="GET" action="{% url 'search' %}" class="mb-4">
            <div class="row">
                <div class="col-md-2 mb-3">
                    <input type="text" name="q" id="device" class="form-control border-dark" placeholder="Устройство" value="{{ request.GET.q }}" list="device-list">
                    <datalist id="device-list">
                        <option value="Телефон">
                        <option value="Планшет">
                        <option value="Ноутбук">
                        <option value="Смарт-часы">
                    </datalist>
                </div>
                <div class="col-md-2 mb-3">
                    <input type="text" name="brand" id="brand" class="form-control border-dark" placeholder="Бренд" value="{{ request.GET.brand }}" list="brand-list">
                    <datalist id="brand-list"></datalist>
                </div>
                <div class="col-md-2 mb-3" id="series-container" style="display: none;">
                    <input type="text" name="series" id="series" class="form-control border-dark" placeholder="Серия" value="{{ request.GET.series }}" list="series-list">
                    <datalist id="series-list"></datalist>
                </div>
                <div class="col-md-2 mb-3">
                    <input type="text" name="model" id="model" class="form-control border-dark" placeholder="Модель" value="{{ request.GET.model }}" list="model-list">
                    <datalist id="model-list"></datalist>
                </div>
                <div class="col-md-2 mb-3">
                    <input type="text" name="part_type" id="part_type" class="form-control border-dark" placeholder="Тип запчасти" value="{{ request.GET.part_type }}" list="part-type-list">
                    <datalist id="part-type-list"></datalist>
                </div>
                <div class="col-md-2 mb-3">
                    <input type="text" name="city" class="form-control border-dark" placeholder="Город" value="{{ request.GET.city }}">
                </div>
                <div class="col-md-2 d-flex align-items-end mb-3">
                    <button type="submit" class="btn btn-dark btn-block text-white">Искать</button>
                </div>
            </div>
        </form>

        <hr>

        <style>
               table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
            }

            th, td {
                padding: 12px;
                text-align: center;
                border: 1px solid #dee2e6;
                vertical-align: middle;
            }

            th {
                background-color: #343a40; /* Темный цвет заголовка */
                color: white;
                font-weight: bold;
                font-size: 14px; /* Уменьшение размера шрифта заголовка */
            }

            tr:nth-child(even) {
                background-color: #f8f9fa;
            }

            tr:hover {
                background-color: #e2e6ea;
            }

            img {
                max-width: 100px;
                height: auto;
                border-radius: 5px;
                border: 1px solid #dee2e6;
            }

            .container {
                max-width: 1200px;
                margin: auto;
            }

            .form-control {
                border-radius: 0.375rem;
                box-shadow: none;
                transition: border-color 0.2s ease;
            }

            .form-control:focus {
                border-color: #343a40; /* Темный цвет бордюра при фокусе */
                box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
            }

            .btn-dark {
                border-radius: 0.375rem;
                padding: 10px 15px;
                font-size: 16px;
                background-color: #343a40;
                border-color: #343a40;
            }

            .btn-dark:hover {
                background-color: #23272b;
                border-color: #1d2124;
            }
        </style>

        <table>
            <tr>
                <th>Устройство</th>
                <th>Бренд</th>
                <th>Модель</th>
                <th>Тип запчасти</th>
                <th>Цвет</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Изображение</th>
                <th>Город</th>
                <th>Номер телефона</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{ result.device }}</td>
                <td>{{ result.brand }}</td>
                <td>{{ result.model }}</td>
                <td>{{ result.part_type }}</td>
                <td>{{ result.color|default:"Не указан" }}</td>
                <td>{{ result.quantity }}</td>
                <td>{{ result.price }}</td>
                <td>
                    {% if result.image %}
                        <img src="{{ result.image.url }}" alt="Изображение запчасти">
                    {% else %}
                        Нет изображения
                    {% endif %}
                </td>
                <td>{{ result.user.profile.city }}</td>
                <td>{{ result.user.profile.phone }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        const deviceBrandMap = {
            'Телефон': ['Samsung', 'Huawei', 'Xiaomi'],
            'Планшет': ['Samsung', 'Huawei', 'Xiaomi'],
            'Ноутбук': ['Lenovo', 'Asus', 'Acer'],
            'Смарт-часы': ['Samsung', 'Huawei', 'Xiaomi']
        };

        const brandSeriesMap = {
            'Samsung': ['A', 'M', 'S', 'Note'],
            // Можно добавить серии для других брендов
        };

        const seriesModelMap = {
            'A': ['a10', 'a20', 'a30'],
            'M': ['m21', 'm31s'],
            'S': ['s10', 's20'],
            'Note': ['note 10', 'note 20']
        };

        const modelPartTypeMap = {
            'a10': ['Динамик', 'Дисплей', 'Разъем', 'Шлейф'],
            'a20': ['Динамик', 'Дисплей', 'Разъем', 'Шлейф'],
            'p10': ['Динамик', 'Дисплей', 'Разъем', 'Шлейф'],
            // Добавьте другие модели и соответствующие им типы запчастей
        };

       function resetAndHideSeries() {
            const seriesInput = document.getElementById('series');
            seriesInput.value = '';
            document.getElementById('series-list').innerHTML = '';
            document.getElementById('series-container').style.display = 'none';
        }

        document.getElementById('device').addEventListener('input', function() {
            const device = this.value;
            const brandInput = document.getElementById('brand');
            const modelInput = document.getElementById('model');
            const partTypeInput = document.getElementById('part_type');

            // Очистка всех связанных полей и списков
            brandInput.value = '';
            modelInput.value = '';
            partTypeInput.value = '';
            resetAndHideSeries();
            document.getElementById('brand-list').innerHTML = '';
            document.getElementById('model-list').innerHTML = '';
            document.getElementById('part-type-list').innerHTML = '';

            if (deviceBrandMap[device]) {
                const brandOptions = deviceBrandMap[device].map(brand => `<option value="${brand}">`).join('');
                document.getElementById('brand-list').innerHTML = brandOptions;
            }
        });

        document.getElementById('brand').addEventListener('input', function() {
            const brand = this.value;
            const modelInput = document.getElementById('model');
            const partTypeInput = document.getElementById('part_type');

            // Очистка связанных полей и списков
            modelInput.value = '';
            partTypeInput.value = '';
            resetAndHideSeries();
            document.getElementById('model-list').innerHTML = '';
            document.getElementById('part-type-list').innerHTML = '';

            if (brandSeriesMap[brand]) {
                const seriesOptions = brandSeriesMap[brand].map(series => `<option value="${series}">`).join('');
                document.getElementById('series-list').innerHTML = seriesOptions;
                document.getElementById('series-container').style.display = 'block';
            } else {
                document.getElementById('series-container').style.display = 'none';
            }
        });

        document.getElementById('series').addEventListener('input', function() {
            const series = this.value;
            const modelInput = document.getElementById('model');
            const partTypeInput = document.getElementById('part_type');

            // Очистка связанных полей и списков
            modelInput.value = '';
            partTypeInput.value = '';
            document.getElementById('model-list').innerHTML = '';
            document.getElementById('part-type-list').innerHTML = '';

            if (seriesModelMap[series]) {
                const modelOptions = seriesModelMap[series].map(model => `<option value="${model}">`).join('');
                document.getElementById('model-list').innerHTML = modelOptions;
            }
        });

        document.getElementById('model').addEventListener('input', function() {
            const model = this.value;
            const partTypeInput = document.getElementById('part_type');

            // Очистка списка типов запчастей
            partTypeInput.value = '';
            document.getElementById('part-type-list').innerHTML = '';

            if (modelPartTypeMap[model]) {
                const partTypeOptions = modelPartTypeMap[model].map(partType => `<option value="${partType}">`).join('');
                document.getElementById('part-type-list').innerHTML = partTypeOptions;
            }
        });
    </script>
{% endblock %}