{% extends 'warehouse/base.html' %}

{% block content %}
<h2>Уведомления</h2>
<ul>
    {% for notification in notifications %}
        <li>
            <a href="{% url 'notification_detail' notification.id %}">
                {% if not notification.is_read %}
                    <strong>{{ notification.text|truncatechars:50 }}</strong> (Новое)
                {% else %}
                    {{ notification.text|truncatechars:50 }}
                {% endif %}
            </a>
            <br>
            <small>Отправитель: {{ notification.sender.profile.full_name|default:notification.sender.username }}</small>
            <br>
            <small>Дата: {{ notification.timestamp }}</small>
        </li>
    {% empty %}
        <p>Уведомлений нет</p>
    {% endfor %}
</ul>
{% endblock %}
