{% extends 'warehouse/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>О проекте</h1>
    <p>Наш проект создан для того, чтобы упростить процесс поиска и продажи запчастей для ремонта телефонов, планшетов и умных часов. Здесь каждый пользователь, будь то мастерская или частное лицо, может создать свой собственный склад, добавляя туда запчасти от ненужных б/у или сломанных устройств.</p>
    <p>Если вам нужна запчасть для ремонта вашего устройства, достаточно воспользоваться глобальным поиском. Система проверит все склады пользователей, и, если нужная запчасть найдётся, вы сможете просмотреть её детали, узнать информацию о продавце и связаться с ним напрямую.</p>
    <p>Проект помогает не только находить редкие детали, но и давать вторую жизнь устройствам. Разбирайте ненужные гаджеты, добавляйте запчасти на свой склад — возможно, именно ваша деталь понадобится кому-то для ремонта его устройства.</p>
    <p>Мы стремимся сделать ремонт техники доступнее и удобнее для всех. Присоединяйтесь к нашему сообществу и будьте частью этой полезной инициативы!</p>
</div>
{% endblock %}
