{% extends 'warehouse/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div class="container py-5" style="font-family: 'Inter', sans-serif;">
    <h1 class="fw-bold text-center mb-4" style="font-size: 2rem;">Добро пожаловать на склад!</h1>
    <p class="text-center mb-4" style="font-size: 1rem; color: #000;">
        Управляйте своим складом и находите запчасти легко и быстро.
    </p>
    <div class="text-center mb-4">
        <a href="{% url 'warehouse' %}" class="btn btn-primary px-4 py-2 shadow-sm">
            <i class="bi bi-box-seam me-2"></i>Перейти в склад
        </a>
    </div>

    <form method="GET" action="{% url 'search' %}" class="d-flex justify-content-center mb-5">
        <input type="text" name="q" id="search" class="form-control w-50 me-2"
               placeholder="Введите запрос" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-dark">
            <i class="bi bi-search me-1"></i>Поиск
        </button>
    </form>

    <div class="text-center">
        <p style="font-size: 1rem; color: #000;">
            Здесь каждый пользователь, будь то мастерская или частное лицо, может создать свой собственный склад и добавлять туда запчасти от ненужных б/у или сломанных устройств.
        </p>
        <p style="font-size: 1rem; color: #000;">
            Если вам нужна запчасть для ремонта вашего устройства, достаточно воспользоваться <a href="{% url 'search' %}">глобальным поиском</a>. Система проверит все склады пользователей, и, если нужная запчасть найдётся, вы сможете просмотреть её детали, узнать информацию о продавце и связаться с ним напрямую.
        </p>
        <p style="font-size: 1rem; color: #000;">
                    Разбирайте ненужные гаджеты, добавляйте запчасти на свой склад — возможно, именно ваша деталь понадобится кому-то для ремонта его устройства.
        </p>
    </div>
</div>
{% endblock %}
