{% extends 'warehouse/base.html' %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="container mt-4 d-flex justify-content-center">
        <div class="bg-white p-4 rounded shadow-sm" style="max-width: 800px; width: 100%;">
            <h2>Политика конфиденциальности</h2>
            <p>ИП "Антонов Ю.Е." (владелец сайта MobiRazbor.by), юридический адрес: Республика Беларусь, г. Гомель, ул. Гагарина, д. 55, настоящим информирует Пользователей сайта MobiRazbor.by о Политике конфиденциальности в отношении их личных данных. Данные условия в области защиты личных данных основаны на внутренней политике и принципах работы сайта MobiRazbor.by, а также принятых нормах законодательства Республики Беларусь и международного права.</p>
            <p>Используя сайт MobiRazbor.by, вы выражаете свое согласие с Политикой конфиденциальности. Если вы не согласны с Политикой конфиденциальности, вы можете воздержаться от посещения сайта MobiRazbor.by.</p>
            <p>Настоящая Политика конфиденциальности применяется только к сайту MobiRazbor.by. Сайт не контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте MobiRazbor.by.</p>

            <p><strong>1. Термины и определения</strong></p>
            <p><strong>Пользователь </strong>– лицо, осуществившее регистрацию профиля пользователя на сайте MobiRazbor.by.</p>
            <p><strong>Персональные данные</strong> – любая информация, относящаяся к идентифицированному физическому лицу или физическому лицу, которое может быть идентифицировано.</p>
            <p><strong>Обработка персональных данных</strong> – любое действие или совокупность действий, совершаемые с персональными данными, включая сбор, систематизацию, хранение, изменение, использование, обезличивание, блокирование, распространение, предоставление, удаление персональных данных.</p>
            <p><strong>IP-адрес</strong> – уникальный сетевой адрес, идентифицирующий устройство в интернете или локальной сети.</p>
            <p><strong>Cookies</strong> – небольшой фрагмент данных, отправленный веб-сервером и хранимый на устройстве субъекта персональных данных, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</p>
        </div>
    </div>
</div>
<style>
    .container p {
        margin-bottom: 10px; /* Отступ между пунктами */
        font-size: 14px; /* Размер шрифта */
    }
</style>
{% endblock %}
