{% extends 'warehouse/base.html' %}
{% load static %}

{% block title %}Пользовательское соглашение{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
<div class="container mt-4 d-flex justify-content-center">
    <div class="bg-white p-4 rounded shadow-sm" style="max-width: 800px; width: 100%;">
        <h2>Пользовательское соглашение</h2>
        <p><strong>Общие положения</strong></p>
        <p>1.1. Настоящее соглашение (далее по тексту – Договор) регулирует отношения между Индивидуальным предпринемателем «Антоновым Ю.Е.» (регистрационный номер 490788687), именуемым в дальнейшем «Исполнитель», и пользователем сети Интернет, именуемым в дальнейшем «Пользователь», возникающие при посещении и (или) использовании Пользователем интернет-сайта MobiRazbor.by.</p>
        <p>1.2. Исполнитель не несет ответственности за недоступность сервисов на интернет-сайте MobiRazbor.by, а также любые задержки, прерывания, прямой и косвенный ущерб или потери, происходящие из-за дефектов в любом электронном или механическом оборудовании и/или программах для ЭВМ, либо вследствие иных объективных технологических причин, а также в результате действий или бездействий третьих лиц, проблем при передаче данных или соединении, перебоев в электропитании, которые произошли не по вине Исполнителя.</p>
        <p><strong>2. Порядок заключения Договора</strong></p>
        <p>2.1. Настоящий договор является публичным договором (ст. 396 Гражданского Кодекса Республики Беларусь, далее по тексту - договор), в соответствии с которым Исполнитель принимает на себя обязательство по оказанию услуг в отношении неопределенного круга лиц, обратившихся за указанными услугами.</p>
        <p>2.2. Заключение настоящего договора производится путем присоединения Пользователя к настоящему договору, т.е. посредством принятия (акцепта) Пользователем условий настоящего договора в целом, без каких-либо условий, изъятий и оговорок (ст. 398 Гражданского Кодекса Республики Беларусь). При несогласии с какими-либо пунктами настоящего договора Пользователь не вправе проходить процедуру регистрации, подавать объявления и пользоваться сервисами интернет-сайта MobiRazbor.by.</p>
        <p>2.4. Настоящий договор считается заключенным и действительным с момента регистрации Пользователя на интернет-сайте MobiRazbor.by и/или подачи объявления. Пользователь одновременно с регистрацией личного профиля, подачей объявлений на интернет-сайте Mobirazbor.by подтверждает свое безусловное согласие на принятие настоящего Договора и выполнение условий, прописанных в нем. Фактом принятия (акцепта) условий настоящего договора Пользователем является подтверждение Пользователем факта ознакомления с его условиями при авторизации Пользователя на интернет-сайте, и (или) оплата оказанных услуг в порядке и на условиях, изложенных в настоящем договоре, и (или) оказание услуг Исполнителем.</p>
        <p>2.5. Настоящий договор, при условии соблюдения порядка его акцепта, считается заключенным в простой письменной форме (п. 2, п. 3 ст. 404 и п. 3 ст. 408 Гражданского Кодекса Республики Беларусь).</p>
        <p>2.6. Местонахождение Исполнителя автоматически признается местом заключения договора Сторон.</p>

        <p><strong>3. Предмет Договора</strong></p>
        <p>3.1. В соответствии с условиями настоящего договора Исполнителем предоставлена Пользователю возможность пользоваться всеми доступными на интернет-сайте MobiRazbor.by сервисами, включая поиск, создания своего склада, просмотр и размещение объявлений и/или комментариев. Плата за поиск, просмотр объявлений и сообщений и/или материалов, а также размещение объявлений не взимается, если иное не предусмотрено информацией о порядке предоставления сервисов, размещенной Исполнителем на интернет-сайте MobiRazbor.by.</p>
        <p>3.2. Исполнителем могут предоставляться Пользователю услуги (платные сервисы: размещение объявлений, размещение баннерной рекламы и ее изготовление, а также размещение рекламных статей и пр.), перечень, условия оказания, размеры и порядок оплаты которых размещаются Исполнителем на интернет-сайте MobiRazbor.by и доступны в разделе Стоимость услуг.</p>
        <p>3.3. В случае просмотра объявлений и прочей информации, находящейся на интернет-сайте MobiRazbor.by в открытом доступе, регистрация и/или авторизация Пользователя не является обязательной, однако при совершении подобных действий Пользователь соглашается с условиями и обязан соблюдать положения настоящего Договора и Политики конфиденциальности.</p>
        <p>3.4. В случае размещения объявлений, комментариев и/или иной информации на интернет-сайте MobiRazbor.by регистрация или авторизация Пользователя является обязательной.</p>
        <p>3.5. Предоставление сервисов (услуг) проходит на установленных законодательством условиях, а также на основании настоящего договора, Правил интернет-сайта MobiRazbor.by (далее - Правила) и Политики конфиденциальности, которые являются неотъемлемыми частями договора.</p>
        <p><strong>4. Условия предоставления сервисов</strong></p>
        <p></p>
        <p></p>
    </div>
</div>
    </div>
<style>
    .container p {
        margin-bottom: 10px; /* Отступ между пунктами */
        font-size: 14px; /* Размер шрифта */
    }
</style>
{% endblock %}
